---
import { Picture } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { formatDate } from "@functions/utils";
import MainLayout from "@layouts/Main.astro";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { title, description, date, cover, coverAlt } = post.data;
---

<MainLayout {title} {description}>
  <header>
    <h1>{title}</h1>
    <p>{formatDate(date)}</p>
    <Picture src={cover} alt={coverAlt || "image"} />
    <slot />
  </header>
</MainLayout>
